body {
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

.navbar {
  background-color: rgb(217, 217, 217);
}

a {
  color: black;
  text-decoration: none;
  font-size: 50px;
}

a:hover {
  color: gold;
}

.navbarimg {

  width: 40%;
  margin-left: 40%;
}

.navbar li {
  float: right;
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}

h4 {
  float: left;
  margin-left: 20%;
  margin-bottom: 100px;
}


h2 {
  font-size: 100px;
  text-align: center;
  color: gold;
}


h3 {
  margin-top: 200px;
  margin-left: 43%;
  font-size: 75px;
  width: 50%;
  text-align: center;
  color: gold;
}

.rates {
  margin-left: 10%
}

p {
  text-align: center;
  font-size: 40px;
  padding: 100px;
}

.cheers {
  width: 40%;
  float: left;
  margin-right: 20px;
}

.ownerpic {
  width: 45%;
  float: left;
  padding: 50px;
}

.cismsg {
  font-size: 70px;
  text-align: center;
}

.comment {
  width: 500px;
  height: 200px;
  text-align: center;
  margin-left: 40%;
}

input {
  font-size: 20px;
  margin-left: 43%;
  border-radius: 5%;
}

.jacbio {
  width: auto;
  float: left;
  margin-left: 10%;
}

#owners p {
  padding: 20px;
}


.collinbio {
  margin-left: 10%;
}
